grant codeBase "http://athena.fhict.nl/users/i318908/PTS/" {
    permission java.security.AllPermission;
};

grant{
	permission java.net.SocketPermission "*:1098", "connect,accept,resolve";
	permission java.net.SocketPermission "*:1099", "connect, accept, resolve";
};